#This file contain configurations for kubernetes blueprint deployment that is not passible to retrive from the MACM 

# Name of service
  name = 

# Type of Kubernetes Service
  type =  
  
# Labels
  key = value
  
# Selector
  key = value

# Temporary Volumes
  name = 

# Env. Variables
  name =
  value =
 
# Pod labels
  key = value
  
# Ports configuration
  port = 
  targetPort = 
  nodePort =   # if type == NodePort