#This file contain configurations for kubernetes blueprint deployment that is not possible to retrieve from MACM 

#For each Pod, Service or Storage Resources compile the necessary information.
      #Structure:
      #
      # type= Pod || Service || PersistentVolume || Claim 
      #
      # PARAMETERS
      # .
      # .
      # ---

#Config for Pods
    type = Pod
  # Name
    name = wordpress
  # Labels
    app: wordpress
  # Selectors
    app: wordpress
    tier: wordpress
  # Number of replica for replica-set
    replicas = 1
  # Security Context Capability (comma separated list)
    drop = 
    add  = 
    readOnlyRootFilesystem =
    runAsNonRoot = 
    runAsUser =
  # Volume Mounts
    mountPath =
    name = 
  # Temporary Volumes
    name = 
  # Env. Variables
    WORDPRESS_DB_HOST = wordpress-mysql
    WORDPRESS_DB_PASSWORD = fake
  # Persisten Volume
    name = wordpress-persistent-storage
    claimName = wp-pv-claim
    ...
---
#Config for Service
    type = Service
  # Name 
    name = 
  # Type of Service
    type =  
  # Labels
    key = value
  # Selectors
    key = value
  # Ports configuration
    port = 
    targetPort = 
    nodePort =   # if type == NodePort
    StatefulSet = true || false
---
#Config for Storage
  type = PersistentVolume
 # Name for Volume
   name =
 # Capacity in GB
   capacity =
 # Host path
   path =
 # Permission
   accessModes =
 
