#This file contain configurations for kubernetes blueprint deployment that is not passible to retrive from the MACM 

# Number of replica for replica-set
  replicas = 

# Security Context Capability (comma separated list)
  drop = 
  add  = 
  readOnlyRootFilesystem =
  runAsNonRoot = 
  runAsUser = 
  
# Volume Mounts
  mountPath =
  name = 

# Temporary Volumes
  name = 

# Env. Variables
  name =
  value =
 
# Pod labels
key = value
    