#This file contain configuration for provisioning step that was provided from user

#ipconfig VM
  IP_VM1 = 192.168.6.76
  IP_VM2 = 192.168.6.97
  Gateway = 

#Resource pool Proxmox
  pool = "Giuseppe..."
  target_node =

#Disk Info.
  storage      = 
  type         = 

#VM names
  name =
#Template to clone
  name =
  
#VM Credentials
  user = 
  password = 
#OR
  sshkeys = 

#Proxmox Provider IP
IP =
    
   
   
