#This file contain static security assessment profile info.


#Chef inspec Profile
  name = Apache-baseline
  Path_on_Jenkins_Server = https://github.com/dev-sec/linux-baseline
  
  name = linux-baseline
  Path_on_Jenkins_Server = https://github.com/dev-sec/apache-baseline
  

#OpenScap xccdf source and profile
  name = ssg-ubuntu1804-ds-1.2
  profile = anssi_np_nt28_minimal
  Path_on_Jenkins_Server = /home/giuseppe/Downloads/scap-security-guide-0.1.53/ssg-ubuntu1804-ds-1.2.xml 
